<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.5.55/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<!-- ★課題：読込時コードが一瞬表示される-->
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-container fluid>
          <h1>{{ questionIndex+1 }}問目</h1>

          <v-card class="mx-auto" max-width="900" flat>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>問題</v-list-item-title>
                <v-list-item-subtitle>{{ currentQuestion.Question.content }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-card>

          <v-card class="mx-auto" max-width="900"> 
            <v-list color="grey darken-1">
              <v-list-item v-for="(ques, index) in questions" @click="addAnswer(index)">
                <v-list-item-avatar class="ma-2" tile size="40" color="grey lighten-3">
                  {{ index+1 }}
                </v-list-item-avatar>
                <v-list-item-content>
                  <!-- ★課題：全問題の回答がループ表示される。回答だけ配列に入れておく必要あり-->
                  <v-list-item-subtitle>{{ques.ansTxt}}</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>

          <!-- 表示テスト用 -->
          {{questions}}
          {{answers}}
          <ul>
            <li v-for="ques in questions">
              {{ ques.Question.id }},{{ ques.Question.content }}:{{ ques.ansTxt }}
            </li>
          </ul>
        </v-container>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    // import axios from 'axios';
    let app = new Vue({
      el: '#app',
    // export default {
      vuetify: new Vuetify(),
      data: {
        answers: [],
        questionIndex: 0,
        questions: [],
        //仮データ
        // questions:[
        //   {question:'猫と鼠はどっちが大きい？',
        //     answers: ['猫','鼠','その他'],
        //     answer: 1
        //   },
        //   {question:'AとBはどちらが先？',
        //     answers: ['A','B','その他'],
        //     answer: 0
        //   },
        //   {question:'兎と亀はどちらが速い？',
        //     answers: ['兎','亀','その他'],
        //     answer: 1
        //   }
        // ]
      },
      // methods:{
      //   addAnswer(index){
      //     this.answers.push(index);
      //     if (this.questions.length = this.answers.length) {
      //       // クイズが完了したとき
      //       var correctCount = 0;
      //       for (var i in this.answers) {
      //         var answer = this.answers[i];
      //         if (answer = this.questions[i].answer) {
      //           correctCount++;
      //         }
      //       }
      //     } else {
      //       this.questionIndex++;
      //     }
      //   }
      // },
      async mounted(){
        // defaultsでアクセスするURLを設定
        axios.defaults.baseURL = 'http://localhost:3000';
        try {
          // 全取得データを格納
          const response = await axios.get('/1');
          // 取得データのdataの部分を上記questions[]に格納
          this.questions = response.data;
          this.answers = questions.ansTxt;
          // console.log(responses);
        } catch (error) {
          console.log(error)
        }
      },
      computed: {
        currentQuestion: function() {
          return this.questions[this.questionIndex];
        }
      }
    })
    // } <export default
  </script>
</body>
</html>